# Unity-generated folders
[Oo]bj/
[Ll]ibrary/
[Tt]emp/
[Uu]serSettings/

# Build results
Build/
Builds/

# Uncomment if you want to ignore the entire assets folder
# Assets/

# Specific file types that are not required in a code-only repo
*.csproj
*.unityproj
*.sln
*.user
